@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


html,
body {
  background-color: #ffffff;
  overflow-x: initial !important;
  margin: 0px !important;
  padding: 0px !important;
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
}

.logo {
  width: 200px;
}

nav ul {
  display: flex;
  padding-inline-start: 0px;
}

nav ul li a {
  line-height: 90px;
  margin: 3px;
  padding: 0px 35px;
  display: flex;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #555555;
  
}

nav ul li a:hover {
  color: #e8b4d2;
  transition: all ease 0.1s;
  font-style: italic;
}

.art {
  margin-bottom: 30px;
}

.art img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.artpic {
  margin-top: 8rem;
  width: 230px;
  opacity: 80%;
}

.artarrow {
  margin-top: 10px;
  width: 15px;
}

.about {
  position: relative;
  width: 600px;
  font-family: IBM Plex Mono, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #555555;
  margin: auto;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  animation: typing 3s steps(15, end), blink .45s step-end infinite;
  white-space: nowrap;
  font-weight: 700;
  border-right: 3px solid #C6C2E8;
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 35% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #C6C2E8; 
  }
}

.bio {
  font-family: poppins, monospace;
  font-size: 0.8em;
}

@media only screen and (max-width: 700px) {
  .logo {
    width: 100px;
  }

  nav ul {
    display: flex;
    padding-inline-start: 0px;
  }

  nav ul li a {
    line-height: 40px;
    margin: 2px;
    padding: 0px 3px;
    display: flex;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #555555;
  }

  nav ul li a:hover {
    color: #e8b4d2;
    transition: all ease 0.1s;
    font-style: italic;
  }

  .art {
    margin-bottom: 20px;
  }
  
  .art img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .artpic {
    margin-top: 6rem;
    width: 230px;
    opacity: 80%;
  }
  
  .artarrow {
    margin-top: 20px;
    width: 15px;
  }

  .about {
    position: relative;
    width: 300px;
    font-family: IBM Plex Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #555555;
    margin: auto;
  }

  @keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 65% 
    }
  }
  
  @keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #C6C2E8; 
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
  }
  
  .logo {
    width: 200px;
  }
  
  nav ul {
    display: flex;
    padding-inline-start: 0px;
  }
  
  nav ul li a {
    line-height: 80px;
    margin: 3px;
    padding: 0px 16px;
    display: flex;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #555555;
    
  }
  
  nav ul li a:hover {
    color: #e8b4d2;
    transition: all ease 0.1s;
    font-style: italic;
  }
  
  .art {
    margin-bottom: 30px;
  }
  
  .art img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .artpic {
    margin-top: 10rem;
    width: 230px;
    opacity: 80%;
  }
  
  .artarrow {
    margin-top: 20px;
    width: 15px;
  }
  
  .about {
    position: relative;
    width: 600px;
    font-family: IBM Plex Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #555555;
    margin: auto;
  }
}